<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://localhost:8000/tasks/mine/">Show my Task</a></li>
                <li><a href="http://localhost:8000/projects/">My Projects</a></li>
                <li><a href="http://localhost:8000/accounts/login/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                <tr>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due Date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        <div>
                            {% for task in task %}
                            <tr>
                                <td>
                                    {{ task.name}}
                                </td>
                                <td>
                                    {{ task.start_date}}
                                </td>
                                <td>
                                    {{ task.due_date}}
                                </td>
                                <td>
                                    {{ task.is_completed|yesno }}
                                </td>
                            </tr>
                            {% endfor %}
                        </div>
                    </tbody>
                </tr>
            </table>
        </div>
    </main>

</body>
</html>
