<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <div>

                <h1>{{ project.name }}</h1>
                <p>{{ project.description }}</p>

            </div>
            <h2>Tasks</h2>
            <p>
                <a href="http://localhost:8000/projects/create/">Create a new task</a>
            </p>
<table>
    <thead>
            <tr>
              <th>Name</th>
              <th>Assignee</th>
              <th>Start date</th>
              <th>Due date</th>
              <th>Is completed</th>
            </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.assignee }}</td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.is_completed|yesno }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
    </main>

</body>
</html>
