<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://localhost:8000/tasks/mine/">Show my Task</a></li>
                <li><a href="http://localhost:8000/projects/">My Projects</a></li>
                <li><a href="http://localhost:8000/accounts/login/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
        </div>
            <p>
                <a href="http://localhost:8000/projects/create/">Create a new Project</a>
            </p>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                     <td>
                        <a href="http://localhost:8000/projects/1/">Project Alpha</a>
                     </td>
                        <td>
                            {{ project.tasks.all|length }}
                        </td>
                     <tr>
                        <td>
                            <a href="http://localhost:8000/projects/2/">project beta</a>
                        </td>
                        <td>
                            {{ project.tasks.all|length }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
     </main>

</body>
</html>
